catboost==1.2.8
imbalanced-learn==0.13.0
keras==2.10.0
keras-tuner==1.4.7
matplotlib==3.10.1
nibabel==5.3.2
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
optuna==4.4.0
pandas==2.3.0
pyglet==1.5.29
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
shutup==0.2.0
split-folders==0.5.1
tensorboard==2.10.1
tensorflow==2.10.1
tqdm==4.67.1
trimesh==4.6.13
xgboost==3.0.2
medmnist==3.0.2
