--extra-index-url https://download.pytorch.org/whl/cu128
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
numpy==1.26.4
matplotlib==3.10.9
scikit-learn==1.8.0
tensorflow==2.20.*
keras
split-folders==0.6.1
keras_tuner==1.4.8
optuna==4.8.0
patchify==0.2.3
torch==2.7.1+cu128
torchvision==0.22.1+cu128
transformers==5.9.0
datasets==4.8.5
pillow==12.2.0
tensorboard==2.*
pandas==3.0.3
catboost==1.2.10
imbalanced-learn==0.14.1
nibabel==5.4.2
pyglet==2.1.14
scikit-image==0.26.0
scipy==1.17.1
seaborn==0.13.2
shutup==0.3.0
tqdm==4.67.3
trimesh==4.12.2
xgboost==3.2.0
medmnist==3.0.2
huggingface-hub==1.16.1
sentence_transformers==5.5.1
pymupdf==1.27.2.3
openslide-bin==4.0.0.13
openslide-python==1.4.3
spams-bin==2.6.13
PyWavelets==1.9.0
imagehash==4.3.2
brisque==0.2.0
simpleitk==2.5.5
PyPDF2==3.0.1
shap==0.51.0
lime==0.2.0.1
